{namespace bitbucketserver.page.eventposter.settings}

/**
 * Repository settings
 */
{template .repositoryEventPosterSettings}
    <html>
        <head>
            <title>Event poster repository settings</title>
        </head>
        <body>
            <h1>Rendered soy page</h1>
        </body>
    </html>
{/template}